<%- include segment/header %>
<p>
  <% if (user && (user.name == post.name)) { %>
    <span><a class="edit" href="/edit/p/<%= post._id%>">Edit</a></span>
    <span><a class="edit" href="/remove/p/<%= post._id%>">Delete</a></span>
  <% } %>
</p>

<p class="info">
  Author: <a href="/u/<%= post.name %>"><%= post.name %></a> |
  Date: <%= post.time.minute %>
</p>
<p class="body"><%- post.post %></p>
<%- include segment/footer %>
