
<%- include segment/header %>

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">

      <p>
        <% if (user && (user.name == post.name)) { %>
          <div class="btn-toolbar">

            <a class="btn btn-default edit" href="/edit/p/<%= post._id%>">
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            </a>

            <a class="btn btn-default edit" href="/remove/p/<%= post._id%>">
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            </a>

          </div>
        <% } %>
      </p>

      <p class="post-meta">
        Author: <a href="/u/<%= post.name %>"><%= post.name %></a> |
        Date: <%= post.time.minute %>
      </p>

      <p class="body"><%- post.post %></p>

    </div>
</div>

<%- include segment/footer %>
