<!-- template for a single post-->
<!-- data to be passed: title, name, post.time.minute, post -->
<div class="container">
  <div class="col-lg-8 col-lg-offset-2">

    <a href="/post/{{ _id }}">
      <p class="post-title"><h2>{{ title }}</h2></p>
    </a>

    <p class="post-meta">
      Author: <a href="/user/{{ name }}">{{ name }}</a>
      Date: {{ time }}
    </p>

    <p class="body">{{{ post }}}</p>
    <hr>

  </div>
</div>
